---
title: news feed Api
layout: "base.njk"
---
<h1>{{title}}</h1>
<span>{{name}}</span>
<div class="container">
{% for article in news_api.articles %}
<div class="content-wrapper">
    <a href="{{article.url}}">
  <div><img src="{{article.urlToImage}}"</div></div>
  <h4>
      {{ article.title}}
    </a>
  </h4>
  <span>{{ article.publishedAt | postDate }} | {{article.author }}</span>
  <div>{{ article.description }}</div>
</div>
{% endfor %}
</div>
